
body {
    margin: -18px !important;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: relative; /* usually the parent, in this case the body element, has position relative so that the absolute positioned child is positioned relative to it */
    height: 100vh; /* 100% of the viewport height */
 }

 @media only screen and (min-width: 500px) {  /* hi-res laptops and desktops */ 
  #myVideo {
    min-height: 50%;
  }

  .header{
    position: absolute; /* taken out of the normal flow of the document */
      top: 60vh; /* moved down by 50% of the screen height */
      transform: translateY(-65%); /* moved back up (Y axis) by half of its height to achieve the perfect center */
      width: 100%; /* needs to be defined to keep the default block behavior */
      text-align: center;
      margin: 0; /* again, for perfect center */
      width: 100%;
  
  }
  
  .menu{
      position: absolute; /* taken out of the normal flow of the document */
      top: 2%; /* moved down by 50% of the screen height */
      right: 25px;
      cursor: pointer;    
      font-size: 1em;
  }

  .content {
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
    overflow: hidden;  
    overflow-y: hidden !important;
  }
}

@media only screen and (max-width: 499px)
{
  #myVideo {
    height: 100vh;
    position: inherit;
    left: -560px;
    min-height: 100vh;
    z-index: -5;
  }

  .menu{
    text-align: right;
    padding: 20px;
    font-size: 2em;
    top: 0px;
    right: 0px;
    position: absolute;
}

.header{
  position: absolute;
  top: 0px;
    padding-top: 60%;
    font-size: 2em;
}

.content {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;  
  overflow-y: hidden !important;
}
}
